body {
    background-color: #f8f9fa;
    font-family: Bahnschrift, serif;
}

footer {
    /*background-color: #343a40;*/
    color: white;
}

.header {
    height: 100vh;
    background: url('../img/background/background5.jpg') no-repeat center center/cover;
    position: relative;
}

.docu {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.header-title {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .header-title {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .header-title {
        font-size: 4rem;
    }
}

.card-header {
    background-color: #ff5900;
    color: white;
    border-radius: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 4px 4px 40px 4px;
}

h1 {
    font-family: "Bauhaus 93", serif;
}

/* CSS for animations */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}